body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.app-container {
  display: flex;
  flex-direction: column; /* Flexbox layout */
}

@media (min-width: 768px) {
  .app-container {
    flex-direction: row; /* Switch to row layout on larger screens */
  }
}

.sidebar {
  width: 20%;
  background-color: #6200ea;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.sidebar ul li {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.sidebar ul li.active {
  background-color: #ffffff33;
}

.change-template {
  margin-top: 20px;
  padding: 10px;
  background-color: #ffffff33;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.form-container {
  flex-grow: 1;
  padding: 40px;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  color: #6200ea;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.form-group input[type="checkbox"] {
  margin-left: 5px;
}

.next-button {
  padding: 10px 20px;
  background-color: #6200ea;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
}

@media (min-width: 768px) {
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="tel"] {
    width: calc(50% - 10px);
    margin-right: 10px;
  }

  .next-button {
    width: auto;
  }
}

.preview-container {
  font-family: Arial, sans-serif;
  width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: ghostwhite;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
  border: 1px solid #ccc;
  display: grid;
  place-self: center;
}


.preview-container h2 {
  font-size: 24px;
  margin-bottom: 100px;
}

.preview-container h3 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.preview-container p {
  font-size: 16px;
  margin-bottom: 5px;
}

.preview-container .contact-information,
.preview-container .awards,
.preview-container .experience,
.preview-container .education {
  margin-top: 20px;
  padding-top: 10px;
}

.preview-container div {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #ccc;
}

.preview-container .dragging {
  background-color: #e0e0e0;
}

.botao {
  width: 125px;
  height: 45px;
  border-radius: 20px;
  border: none;
  box-shadow: 1px 1px rgba(107, 221, 215, 0.37);
  padding: 5px 10px;
  background-color: rgb(59, 190, 230);
  color: #fff;
  font-family: Roboto, sans-serif;
  font-weight: 505;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
  filter: drop-shadow(0 0 10px rgba(59, 190, 230, 0.568));
  transition: 0.5s linear;
  margin-top: 20px;
}

.botao .mysvg {
  display: none;
}

.botao:hover {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 0.5s linear;
}

.botao:hover .texto {
  display: none;
}

.botao:hover .mysvg {
  display: inline;
}

.botao:hover::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 3px;
  background-color: rgb(59, 190, 230);
  margin-left: -20px;
  animation: animate 0.9s linear infinite;
}

.botao:hover::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3.5px solid transparent;
  border-top: 3.5px solid #fff;
  border-right: 3.5px solid #fff;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}

@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(20px);
  }
}

.download-container {
  margin-top: 20px;
  border-radius: 15px;
}

.template-option {
  color: black;
  background-color: gray;
}

.template-option:hover {
  transform: scale(1.1);
  background-color: dimgray;
}

#options {
  color: black;
}

.download-options {
  margin-top: 15px;
}

#color {
  color: yellow;
  font-size: 2rem;
}
