.template-options {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.template-option {
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.template-option:hover {
  background-color: #e0e0e0;
}
